before_script:
  - python --version

stages:
  - test

test:python35_opencv_latest:
  image: python:3.5
  retry: 2
  script:
  - pip install -r requirements/opencv_latest.txt
  - python -c "import cv2; print(cv2.__version__)"
  - python -m unittest discover -s tests -v

test:python36_opencv_latest:
  image: python:3.6
  retry: 2
  script:
  - pip install -r requirements/opencv_latest.txt
  - python -c "import cv2; print(cv2.__version__)"
  - python -m unittest discover -s tests -v

test:python37_opencv_latest:
  image: python:3.7
  retry: 2
  script:
  - apt-get install libgl1-mesa-glx
  - pip install -r requirements/opencv_latest.txt
  - python -c "import cv2; print(cv2.__version__)"
  - python -m unittest discover -s tests -v

test:python35_opencv_331:
  image: python:3.5
  retry: 2
  script:
  - pip install -r requirements/opencv_331.txt
  - python -c "import cv2; print(cv2.__version__)"
  - python -m unittest discover -s tests -v

test:python36_opencv_331:
  image: python:3.6
  retry: 2
  script:
  - pip install -r requirements/opencv_331.txt
  - python -c "import cv2; print(cv2.__version__)"
  - python -m unittest discover -s tests -v
